{% extends 'base.html' %}
{% block content %}
<h1 class="text-center"> DETALHES DA IMPORTACAO</h1>

<div class="row mt-4">
    <div class="col-sm-12">
        <div class="card text-r">

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Importado em:</strong> {{ importacao.data_importacao }}  </li>
                <li class="list-group-item"><strong>Importado por:</strong> {{ importacao.usuario }}  </li>
                <li class="list-group-item"><strong>Data transações:</strong> {{ importacao.data_transacao }}  </li>
            </ul>

        </div>
    </div>
</div>
<div class="row mt-2">
    <table class=" table table-secondary align-middle table-striped table-hover">
        <thead>
        <tr>
            <th class="align-middle" colspan="3">Origem</th>
            <th class="align-middle" colspan="3">Destino</th>
            <th class="align-middle" rowspan="2">Valor</th>
        </tr>
        <tr>
            <th>Banco</th>
            <th>Agência</th>
            <th>Conta</th>
            <th>Banco</th>
            <th>Agência</th>
            <th>Conta</th>
        </tr>
        <thead>
        <tbody>
        {% for transacao in transacoes %}
        <tr>
            <td>{{transacao.banco_origem}}</td>
            <td>{{transacao.agencia_origem}}</td>
            <td>{{transacao.conta_origem}}</td>
            <td>{{transacao.banco_destino}}</td>
            <td>{{transacao.agencia_destino}}</td>
            <td>{{transacao.conta_destino}}</td>
            <td>{{transacao.valor_transacao}}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}